{% extends 'base.html' %}

{% block content %}

{% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
        <div class="bg-dark text-white text-center py-2 rounded">
            <h1 class="col-md-6 offset-md-3"> Orders List </h1>
        </div>

        {% if orders and clients %}
        <div id="search-results">
          <table class="table table-striped table-hover display" id="dataTable">
            <thead class="table-dark">
                <th>Order #</th><th>First Name</th><th>Last Name</th><th>Address</th><th>Product</th><th>Quantity</th><th>Total Cost</th><th>Status</th><th>Date</th>
            </thead>
                {% for orders in context %}
                <tbody>
                    {% if orders.client_id == clients.id %}
                    <tr>
                        <td>{{ orders.order_mun }}</td>
                        <td>{{ orders.first_name }}</td>
                        <td>{{ orders.last_name }}</td>
                        <td>{{ orders.contact }}</td>
                        <td>{{ orders.address }}</td>
                        <td>{{ orders.product }}</td>
                        <td>{{ orders.qty }}</td>
                        <td>{{ orders.total_cost }}</td>
                        <td>{{ orders.date }}</td>
                        <td><a href="#"><button type="button" class="btn btn-dark">Details</button></a></td>
                    </tr>
                    {% endif %}
                </tbody>
                {% endfor %}
          </table>
        </div>
          <a href="#" class="btn btn-dark">Add Client</a>
        {% endif %}

    {% else %}

    <h1 class="bg-dark text-center text-white"> Login <br/> </h1>
    <form action="{% url 'core:home.html' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username">
            <div class="form-text">Do not share your username and password with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
        
    </form>

    {% endif %}
</div>


{% endblock %}