{% extends 'base.html' %}

{% block content %}


<div class="bg-dark text-white text-center">
    <h1>Order List</h1>
</div>

<div class="offset-md-3">
    <table>
        <thead>
            <tr>
                <th>Order No.</th>
                <th>Client</th>
                <th>Contact No.</th>
                <th>Product Description</th>
                <th>Quantity</th>
                <th>Total Cost</th>
                <th>Status</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <a href="{% url 'orders:order_detail' order.id %}">
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.client }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ order.item_name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.total_cost }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.address }}</td>
            </tr>
        </a>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}