{% extends 'base.html' %}

{% block content %}
{% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="col-md-6 offset-md-3 bg-dark text-white text-center">
    <h1>Order List</h1>
</div>

<div class="col-md-6 offset-md-3">
    <ul>
        {% for order in orders %}
            <li><a href="{% url 'orders:order_detail' order.id %}">{{ order.client }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}