{% extends 'base.html' %}

{% block content %}

<div class="card">
  <h3 class="card-header bg-dark text-center text-white">Client Details</h3>
  <div class="card-body">
    <h4 class="card-title">{{ client_record.first_name }} {{ client_record.last_name }}:</h4>
    <p class="card-text">
          <strong>ID:</strong> {{ client_record.id }}<br/>
          <strong>Email:</strong> <a href="mailto:{{ client_record.email }}">{{ client_record.email }}</a><br/>
          <strong>Contact Nr:</strong> {{ client_record.contact }}<br/>
          <strong>Address:</strong> {{ client_record.address }}<br/>
          <strong>Area:</strong> {{ client_record.area }}<br/>
          <strong>Suburb:</strong> {{ client_record.suburb }}<br/>
          <strong>Created:</strong> {{ client_record.created_at }}
      </p>
    <a href="{% url 'orders:order_create' client_record.id %}" class="btn btn-dark">Book Delivery</a>
  </div>
</div>
<div class="my-2">
    <a href="{% url 'core:home.html' %}" class="btn btn-dark">Back</a>
    <a href="{% url 'core:edit_details.html' client_record.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'core:delete_details' client_record.id %}" class="btn btn-danger">Delete</a>
</div>

<div class="card col-md-9 offset-md-2 mx-auto mb-5">
  <h2 class="card-header bg-dark text-white text-center">Order History</h2>
  
  <table class="card-body p-5">
    <thead class=" card-header table bg-dark text-white text-center">
      <tr>
        <th class="p-2">Order ID</th>
        <th class="p-2">Delivery Date</th>
        <th class="p-2">Total Cost</th>
        <th class="p-2">Method of Payment</th>
        <th class="p-2">Status</th>
        <th class="p-2">Action</th>
      </tr>
    </thead>
    <tbody class="card-body">
      {% if orders %}
        {% for order in orders %}
          <tr onclick="window.location='{% url 'orders:order_detail' order.id %}';" style="cursor: pointer;" class="text-center">
            <td>{{ order.id }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.total_cost }}</td>
            <td>{{ order.method_of_payment }}</td>
            <td>{{ order.get_payment_status_display }}</td>
            <td>
              <a href="{% url 'orders:order_delete' order.id %}" class="btn btn-danger" onclick="event.stopPropagation();">Delete</a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
      <tr>
        <td colspan="9" class="text-center">No orders found.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<script>
</script>
{% endblock %}