{% extends 'base.html' %}

{% block content %}

<div class="card row">
    <h3 class="card-header bg-dark text-white text-center col-md-12">Darshboard</h3>
    <div class="card-body row p-2 offset-md-1 rounded">
        <div class="card col-md-3 m-2">
            <h4 class="card-title bg-dark text-white text-center p-2 rounded">Total Customer Records:</h4>
            <div class="card-body text-center">{{ total_clients }}</div>
        </div>
        <div class="card col-md-3 m-2">
            <h4 class="card-title bg-dark text-white text-center p-2 rounded">Total Captured Orders:</h4>  
            <div class="card-body text-center">{{ total_orders }}</div>
        </div>
        <div class="card col-md-3 m-2">
            <h4 class="card-title bg-dark text-white text-center p-2 rounded">Most Orders Placed - Month (Current Year):</h4>
            <div class="card-body text-center">{{ most_orders_month }}</div>
        </div>
        <div class="card col-md-3 m-2">
            <h4 class="card-title bg-dark text-white text-center p-2 rounded">Most Orders Placed - Month (Previous Year):</h4>
            <div class="card-body text-center">{{ most_orders_month_previous_year }}</div>
        </div>
        <div class="card col-md-3 m-2">
            <h4 class="card-title bg-dark text-white text-center p-2 rounded">Most Ordered Product (current Year):</h4>
            <div class="card-body text-center">{{ most_ordered_product.item_name }}</div>
        </div>
        <div class="card col-md-3 m-2">
            <h4 class="card-title bg-dark text-white text-center p-2 rounded">Most Ordered Product (Previous Year):</h4>
            <div class="card-body text-center">{{ most_ordered_product_previous_year.item_name }}</div>
        </div>
    </div>
</div>

{% endblock %}